.profileImg{
  background: url(../../../assets/imgs/profile.png);
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  z-index: -1;
  background-size: cover !important;
  display: flex;
  align-items: center;
  min-height: 550px;
  padding-top: 85px;
  background-repeat: no-repeat !important;
  background-position: center !important;
}

.infoIndex {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoIndex aside {
  letter-spacing: 10px;
  color: var(--gray);
}

.infoIndex h1{
  font-size: 44px;
  font-weight: bolder;
}

.infoIndex p{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.infoIndex .btns_{
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 25px 0;
}

.infoIndex .btn-main{
  width: 170px;
}


header{
  display: none !important;
}
