<div class="profileImg">
  <div class="container">
    <div class="infoIndex">
      <aside>Backend Developer</aside>
      <h1>{{"Name" | translate}}</h1>
      <p class="gray-color">We help the customer’s ideas to grow and spread digitally by transforming these ideas into a suitable digital product that helps people .</p>
      <div class="btns_">
        <a href="../../../assets/imgs/angular.png" download class="btn-main m-0">Download CV <i class="fas fa-cloud-download-alt"></i></a>
        <a data-fancybox="gallery" href="https://www.youtube.com/watch?v=0Kv_k4ypj6o&ab_channel=Treehouse"><i class="fas fa-play"></i> Watch Video</a>
      </div>
      <ul class="socialMedia">
        <li><a href="" target="_blank" placement="top" ngbTooltip="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="" target="_blank" placement="top" ngbTooltip="twitter"><i class="fab fa-twitter"></i></a></li>
        <li><a href="" target="_blank" placement="top" ngbTooltip="facebook"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="" target="_blank" placement="top" ngbTooltip="behance"><i class="fab fa-behance"></i></a></li>
      </ul>
    </div>
  </div>
</div>
