<section class="sec-marg">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="form-content mb-4">
          <form>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" placeholder="Please enter the name">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label>E-Mail</label>
                  <input type="email" class="form-control" placeholder="Please enter the email">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Subject</label>
              <input type="text" class="form-control" placeholder="Please enter the Subject">
            </div>
            <div class="form-group">
              <label>Message</label>
              <textarea class="form-control" placeholder="Please enter the message"></textarea>
            </div>
              <button type="submit" class="btn-main ml-0 mr-0">
                Send Message
              </button>
          </form>
      </div>
      </div>
      <div class="col-md-4">
        <div class="itemsContact">
          <div class="boxContactUs">
            <img src="../../../assets/imgs/GPS-Signal.png">
            <div>
              <div class="mb-1">Location</div>
              <div>Mansoura , Egypt</div>
            </div>
          </div>
          <div class="boxContactUs">
            <img src="../../../assets/imgs/call.png">
            <div>
              <div class="mb-1">Give us a call</div>
              <div>002 010 123 456 7899</div>
            </div>
          </div>
          <div class="boxContactUs">
            <img src="../../../assets/imgs/mail.png">
            <div>
              <div class="mb-1">E-Mail</div>
              <div>nameemail@gmail.com</div>
            </div>
          </div>
        </div>
        <div>
          <h6>Follow Me :</h6>
          <ul class="socialMedia">
            <li><a href="" target="_blank" placement="top" ngbTooltip="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="" target="_blank" placement="top" ngbTooltip="twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="" target="_blank" placement="top" ngbTooltip="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="" target="_blank" placement="top" ngbTooltip="behance"><i class="fab fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="sec-padd main2-back">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="text-center">
          <img src="../../../assets/imgs/logo.png" class="logoImg">
          <p class="gray-color mt-3 mb-3">Design, build, integrate, and control your eCommerce using Salla's API in a fast & easy way with our supportive articles, documentation Design, build, integrate, and control your eCommerce using Salla's API in a fast & easy way with our supportive articles, documentation</p>
          <ul class="socialMedia justify-content-center">
            <li><a href="" target="_blank" placement="top" ngbTooltip="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="" target="_blank" placement="top" ngbTooltip="twitter"><i class="fab fa-twitter"></i></a></li>
            <li><a href="" target="_blank" placement="top" ngbTooltip="facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="" target="_blank" placement="top" ngbTooltip="behance"><i class="fab fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->
