.boxContactUs{
  background-color: var(--main2);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.boxContactUs img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  flex-shrink: 0;
}

.socialMedia {
  display: flex;
  gap: 16px;
}

.socialMedia a{
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: rgba(255, 255, 255, 0.05);
}

.logoImg{
  max-width: 200px;
  max-height: 50px;
}

