<section class="sec-marg">
  <div class="container">
    <div>
      <ul ngbNav [(activeId)]="activeId" class="filter-portfolio mb-4">
        <li [ngbNavItem]="1">
          <a ngbNavLink>ALL</a>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink>APP</a>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink>CARD</a>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink>WEB</a>
        </li>
      </ul>

      <div class="row">
        <div class="col-md-4 col-sm-6">
          <div class="portfolio-wrap">
            <img src="../../../assets/imgs/product1.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h6 class="mb-1">Landing Page Company</h6>
              <p class="gray-color mb-3">E-commerce</p>
              <div class="portfolio-links">
                <a href=""><img src="../../../assets/imgs/appleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/googleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/web.png"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="portfolio-wrap">
            <img src="../../../assets/imgs/product2.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h6 class="mb-1">Landing Page Company</h6>
              <p class="gray-color mb-3">E-commerce</p>
              <div class="portfolio-links">
                <a href=""><img src="../../../assets/imgs/appleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/googleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/web.png"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="portfolio-wrap">
            <img src="../../../assets/imgs/product3.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h6 class="mb-1">Landing Page Company</h6>
              <p class="gray-color mb-3">E-commerce</p>
              <div class="portfolio-links">
                <a href=""><img src="../../../assets/imgs/appleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/googleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/web.png"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="portfolio-wrap">
            <img src="../../../assets/imgs/product4.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h6 class="mb-1">Landing Page Company</h6>
              <p class="gray-color mb-3">E-commerce</p>
              <div class="portfolio-links">
                <a href=""><img src="../../../assets/imgs/appleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/googleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/web.png"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="portfolio-wrap">
            <img src="../../../assets/imgs/product5.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h6 class="mb-1">Landing Page Company</h6>
              <p class="gray-color mb-3">E-commerce</p>
              <div class="portfolio-links">
                <a href=""><img src="../../../assets/imgs/appleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/googleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/web.png"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="portfolio-wrap">
            <img src="../../../assets/imgs/product6.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h6 class="mb-1">Landing Page Company</h6>
              <p class="gray-color mb-3">E-commerce</p>
              <div class="portfolio-links">
                <a href=""><img src="../../../assets/imgs/appleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/googleStore.png"></a>
                <a href=""><img src="../../../assets/imgs/web.png"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



